.post-container {
  margin-top: 20px;
  border: 1px solid #e7e7e7;
}

.username-container {
  display: flex;
  align-items: center;

  padding: 10px;

  background-color: white;
}

.user-thumbnail {
  width: 25px;
  height: 25px;

  border-radius: 50%;
}

.username {
  margin-left: 10px;

  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.image-post {
  width: 100%;
}

.comment-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 200px;
  padding-left: 10px;

  background-color: white;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;

  margin-left: -5px;
}

.like-count {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  font-family: "Lato", sans-serif;
}

.comment {
  font-size: 0.8rem;
}

.comment-username {
  font-weight: bold;
  margin-right: 10px;
}

.time-stamp {
  font-family: "Roboto", sans-serif;

}

.comment-input {

  width: 100%;

  outline: none;
  border: none;

  border-top: 1px solid #e7e7e7;

  background-color: white;
}
