.post-container {
  width: 100%;
  height: fit-content;

  margin-top: 20px;
  border: 1px solid #e7e7e7;
}

.comment-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: fit-content;
  padding-left: 10px;

  background-color: white;
}
